<!-- multistep form -->
<form id="msform" (submit)="onLoginSubmit()">
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Login</h2>
    <div class="form-group">
      <input type="text" [(ngModel)]="username" name="username" placeholder="Username" />
    </div>
    <div class="form-group">
      <input type="password" [(ngModel)]="password" name="password" placeholder="Password" />
    </div>
    <a routerLink ="/register">
      <h5 class="fs-subtitle">Need to Register?</h5>
    </a>
    <input type="submit" name="submit" class="submit action-button" value="Login" />
  </fieldset>
</form>
