<form id="msform">
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Register</h2>
    <div>
        <input type="text" [(ngModel)]="name" name="name" placeholder="Name" />
    </div>
    <div>
        <input type="text" [(ngModel)]="email" name="email" placeholder="Email" />
    </div>
    <div>
        <input type="text"  [(ngModel)]="username" name="username" placeholder="Username" />
    </div>
    <div>
        <input type="password" [(ngModel)]="pass" name="pass" placeholder="Password" />
    </div>
    <a routerLink ="/login">
      <h5 class="fs-subtitle">Already a Member?</h5>
    </a>
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
  </fieldset>
</form>